.main {
  min-height: calc(100vh - 128px - 122px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  max-width: 400px;
  margin: 48px auto;
}

.image {
  width: 100%;
  height: auto;
}
