@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

.header {
  background-color: #1a57db;
  padding: 32px 0px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-family: "Rancho", cursive;
  font-size: 4rem;
  line-height: 4rem;
  color: #fff;
  text-align: center;
}
