.section {
  max-width: 1000px;
  margin: 48px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 1220px) {
  .section {
    margin: 48px 24px;
  }
  .title {
    font-size: 1.75rem;
  }
}
