.footer {
  padding: 48px;
}

.text {
  font-size: 1.35rem;
  color: #000;
  text-align: center;
}

.link {
  font-weight: 600;
  color: #5088ff;
  transition: 0.1s;
}

.link:hover {
  color: #1a57db;
}
